algorithm
Tos-Hack/bin
Tos-Hack/.settings
Tos-Hack/screen1.png
Tos-Hack/screen2.png
Tos-Hack/screen3.png
Tos-Hack/Main.jar
Solver/bin/
SolverTest/bin/
Parser/bin/
Parser/screen_data
img/
data/
*.project
*.classpath
.DS_Store

#files
*~
handlerList
*.png
strp
test.sh
tmp
step

