algorithm
ToS-Hack/bin
ToS-Hack/.settings
ToS-Hack/screen1.png
ToS-Hack/screen2.png
ToS-Hack/screen3.png
ToS-Hack/Main.jar
Solver/bin/
SolverTest/bin/
Parser/bin/
Parser/screen_data
ToS-Hack-GUI/bin
img/
data/
*.project
*.classpath
.DS_Store

#files
*~
handlerList
*.png
strp
test.sh
tmp
step

